*{
    margin: 0px;
    padding: 0px;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration:none;
}

ul{
    list-style: none;
}

body {    
     margin: 0px;
     padding: 0px;
     font-family: Inter, sans-serif;         
}

/* NAVBAR */

header{       
    position: fixed;
    top: 0;
    width: 100%;   
    background-color: #32325D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);    
}

nav{
    width: 100%;
    display: flex;    
    align-items: center;    
    padding: 1em 5em;
    gap: 8px;    
    color: white;  
    
}

.text-nav{    
    font-size: 24px;
    font-weight: 600;
}
.img-nav{
    width: 1.75em;
}

/* ScrollBar */

::-webkit-scrollbar{    
    color: white;    
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);   
 }
 
 ::-webkit-scrollbar-thumb {
     border-radius: 4px;
     background: rgba(58, 79, 154, 0.30);
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
    
 }
 
 ::-webkit-scrollbar-track{
     margin: 4em auto 1em auto
 
 }

 /* CONTENT */

  

  .container-absolute{
    overflow-y: auto;
    height: 100vh;
    
}

.blog-heading{
    margin: 10.5em auto 4.5em 5em;      
    
}

.blog-heading span {
    color: #3A4F9A;
    font-size: 36px;
    font-family: Inter;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3.6px;   
    border-bottom: 3px solid #3A4F9A;
    padding-bottom: 1em;  
    
}