*{
    margin: 0px;
    padding: 0px;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration:none;
}

ul{
    list-style: none;
}

body {    
     margin: 0px;
     padding: 0px;
     font-family: Inter, sans-serif;         
}

/* NAVBAR */

header{       
    position: fixed;
    top: 0;
    width: 100%;   
    background-color: #32325D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    z-index: 2;  
}

nav{
    width: 100%;
    display: flex;    
    align-items: center;    
    padding: 1em 5em;
    gap: 8px;    
    color: white;  
    
}

.text-nav{    
    font-size: 24px;
    font-weight: 600;
    user-select:none;
}
.img-nav{
    width: 1.75em;
}

/* ScrollBar */

::-webkit-scrollbar{    
    color: white; 
 }
 
 ::-webkit-scrollbar-thumb {
     border-radius: 4px;
     background: rgba(58, 79, 154, 0.30);
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
    
 }

 ::-webkit-scrollbar-thumb:active {    
    background: rgba(58, 79, 154, 0.5);
    
}
 
 ::-webkit-scrollbar-track{
     margin: 4em auto 1em auto
 
 }
 

 /* CONTENT */  

  .container-absolute{
    overflow-y: auto;
    height: 100vh;
        
}

.post-heading{
    margin: 10.5em auto 4.5em 5em;      
    
}

.post-heading span {
    color: #3A4F9A;
    font-size: 36px;
    font-family: Inter;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3.6px;   
    border-bottom: 3px solid #3A4F9A;
    padding-bottom: 1em;  
    user-select:none;
    
}

#posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 80px;
    z-index: 1;  
}

.post{
    width: 520px;
    height: autopx;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);    
    margin: 0px 0 58px 79px;
    padding-bottom: 20px;
    transition: 0.5s all ease;
    
}

.post:hover{
    transform: scale(1.05);
}

.images-post {
    width: 100%;
    height: 273px;
}

.images-post img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}


.post-text h3 {
    color: #3A4F9A;
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2px;
    margin: 20px 21px 15px 29px;
    transition: all ease 0.5s;
}
.post-text h3:hover{
    color:#e44848;    
   }

.post-text p {
    color: #575757;
    font-size: 13px;
    font-family: Inter;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1.3px;
    margin: auto 21px 0 29px;
    display: -webkit-box;    
    -webkit-line-clamp: 4;
    -webkit-box-orient:vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select:none;
}

.post-text .link {
    display: flex;
    justify-content: flex-end;
    color: #3A4F9A;
    font-size: 13px;
    font-family: Inter;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.3px;
    margin: auto 18px 2px auto;
    transition: all ease 0.5s;
    
}

.post-text a:hover{
 color:#e44848;
 
}

